html
{
    scroll-behavior: smooth;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body
{
    line-height: 1.5;
    font-size: 16px;
}

ul
{
    list-style: none;
}


/* landing page */
.landingPage
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.6)), url(carlp.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
}

nav .fa
{
    color: white;
    display: none;
}

.logo
{
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

.menu ul li
{
    display: inline-flex;
    align-items: center;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 30px;
    text-align: center;
    transition: transform 1s;
    font-family: 'Bebas Neue', cursive;
    word-spacing: 2px;
}

.menu ul li:hover
{
    cursor: pointer;
    text-decoration: underline 3px;
    transform: scale(1.1);
}

.menu ul li a 
{
    text-decoration: none;
    color: white;
}

.row ul li
{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.row ul li:hover
{
    cursor: pointer;
}

.row ul .login a
{
    text-decoration: none;
    color: white;
}

.row ul .login:hover
{
    border: 2px white solid;
    border-radius: 10px;
}

.row ul .login a::after
{
    color: white;
}

.search
{
    align-items: center;
    text-align: center;
    align-content: center;
}

.row input
{
    border-radius: 10px;
    margin: 3px;
}

.row .fas:hover
{
    cursor: pointer;
}

.specs
{
    color: white;
    padding-top: 40vh;
    margin-left: 88%;
    margin-right: 20px;
}

.specs h3
{
    font-size: 35px;
    color: rgb(0, 255, 242);
    font-weight: bold;
}

.specs p
{
    font-size: 19px;
    font-style: bold;
    font-family: 'Kurale', serif;
}


/* CARS */
.cars h2
{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Patua One', cursive;
    letter-spacing: 1.5px;
}

.cars .row1
{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 50px;
    justify-content: space-around;
}


.cars .row1 img
{
    width: 400px;
    padding: 5px;
    height: 400px;
}

.cars .row1 h4
{
    word-spacing: 1.5px;
}

.cars .row1 h4:hover
{
    cursor: pointer;
}

.cars .row1 a
{
    text-decoration: none;
    color: black;
}

.cars .row1 .cimg
{
    border: 2px solid rgb(85, 85, 85);
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.cars .row1 span
{
    color: red;
}


.cars .row2
{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 50px;
    justify-content: space-around;
}

.cars .row2 img
{
    width: 400px;
    padding: 5px;
    height: 400px;
}

.cars .row2 h4
{
    word-spacing: 1.5px;
}

.cars .row2 h4:hover
{
    cursor: pointer;
}

.cars .row2 a
{
    text-decoration: none;
    color: black;
}

.cars .row2 .cimg
{
    border: 2px solid rgb(85, 85, 85);
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.cars .row2 span
{
    color: red;
}

.cars .button
{
    display:inline-block;
    text-decoration: none;
    margin-left: 45%;
    color: black;
    text-align: center;
    align-items: center;
    border: 2px solid rgb(100, 255, 216);
    border-radius: 5px;
    padding: 12px 34px;
    background-color: rgb(152, 250, 225);
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Port Lligat Slab', serif;
    letter-spacing: 1px;
}

.cars .button:hover
{
    background-color: rgb(0, 255, 191);
    transition: 1.5s;
}


/* BRANDS */
.brands h2
{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Patua One', cursive;
    letter-spacing: 1.5px;
}

.brands .row1
{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 50px;
    justify-content: space-around;
}

.brands .row1 img
{
    width: 300px;
    padding: 5px;
    height: 250px;
}

.brands .row1 img:hover
{
    cursor: pointer;
}

.brands .row1 .bimg
{
    border: 2px solid rgb(85, 85, 85);
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}


.brands .button
{
    display:inline-block;
    text-decoration: none;
    margin-left: 45%;
    color: black;
    text-align: center;
    align-items: center;
    border: 2px solid rgb(100, 255, 216);
    border-radius: 5px;
    padding: 12px 34px;
    font-style: 12px;
    background-color: rgb(152, 250, 225);
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Port Lligat Slab', serif;
    letter-spacing: 1px;
}

.brands .button:hover
{
    background-color: rgb(0, 255, 191);
    transition: 1.5s;
}

/* CONVERTER */
.converter
{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.converter .currency
{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.currency .button
{
    display:inline-block;
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    border: 2px solid rgb(100, 255, 216);
    border-radius: 5px;
    padding: 12px 34px;
    font-style: 12px;
    background-color: rgb(152, 250, 225);
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Port Lligat Slab', serif;
    letter-spacing: 1px;
}

.currency .button:hover
{
    background-color: rgb(0, 255, 191);
    transition: 1.5s;
}


/* FOOTER */
footer
{
    background-color: rgba(0,0,0,0.9);
    color: white;
}

footer .columns
{
    display: flex;
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}

footer .columns h3
{
    text-decoration: underline;
    font-size: 20px;
    letter-spacing: 1.5px;
}

footer .columns li
{
    font-family: 'Raleway', sans-serif;
}

footer .columns li:hover
{
    cursor: pointer;
}

footer .columns .col1
{
    align-items: center;
}

footer .columns .col2
{
    align-items: center;
}

footer .columns .col3
{
    align-items: center;
}

footer .columns .col3 ul li
{
    display: inline-flex;
    padding: 5px;
    margin: 2px;
}

footer .columns .fab:hover
{
    cursor: pointer;
    color: rgb(0, 255, 240);
}


@media(max-width:700px){
    nav
    {
        display: inline-block;
        width: 100%;
        position: relative;
    }

    nav .fa
    {
        display: block;
    }

    .menu
    {
        display: none;
    }
    
    #menuItem
    {
        display: none;
    }
    
    .specs
    {
        color: white;
        display: block;
        padding-top: 40vh;
        margin-left: 75%;
        margin-right: 5px;
    }

    .specs h3
    {
        font-size: 20px;
        color: rgb(0, 255, 242);
        font-weight: bold;
    }

    .specs p
    {
        font-size: 15px;
        font-style: bold;
    }


    /* CARS */
    .cars
    {
        align-items: center;
        text-align: center;
    }

    .cars h2
    {
        text-align: center;
    }


    .cars .row1
    {
        display: block;
        width: 100%;
        align-items: center;
    }

    .cars .row1 img
    {
        width: 100%;
    }

    .cars .row1 h4
    {
        font-size: 20px;
    }

    .cars .row1 p
    {
        font-size: 20px;
    }


    .cars .row2
    {
        display: block;
        width: 100%;
    }

    .cars .row2 img
    {
        width: 100%;
    }

    .cars .row2 h4
    {
        font-size: 20px;
    }

    .cars .row2 p
    {
        font-size: 20px;
    }

    .cars .button
    {
        margin-left: 0;
    }


    /* BRANDS */
    .brands
    {
        align-items: center;
        text-align: center;
    }

    .brands h2
    {
        text-align: center;
    }

    .brands .row1
    {
        display: block;
        width: 100%;
    }

    .brands .row1 img
    {
        width: 100%;
    }


    .brands .button
    {
        margin-left: 0;
    }


    /* FOOTER */
    footer .columns
    {
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .columns .col1
    {
        align-items: center;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .columns .col2
    {
        align-items: center;
        margin-bottom: 30px;
    }

    .columns .col3
    {
        align-items: center;
        margin-bottom: 10px;
    }
}